/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.headercontainer {
    width: 90%;
    margin: 0 auto;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: #0c0c0c;
    color: white;
    padding: 10px 0;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header .header-left h1 {
    font-size: 1.8em;
    margin-left: 15px;
}

header .logo {
    width: 50px; /* Adjust the logo size */
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* Hero Section */
.home-section .container {
    height: 95vh;
    background-color: black;
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 13% 0;
    text-align: center;
}

.home-section {
    background-color: black;
}

.home-section h2 {
    font-size: 5em;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 2.5em;
}

/* About Section */
.about-section {
    background-color: #393939;
    color: floralwhite;
    padding: 60px 0;
    text-align: center;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 35px;
    font-weight: bold;
}

.about-section p {
    font-size: 1.1em;
}

.about-content {
    display: flex;
    justify-content: space-between; /* Distribute space between text and image */
    align-items: center; /* Align content vertically */
    flex-wrap: wrap; /* Make it responsive by wrapping content on smaller screens */
}

.about-content .about-text {
    flex: 1; /* Take up available space */
    max-width: 100%; /* Ensure the text doesn't exceed half the container */
    text-align: justify; /* Align the text to the left */
    padding-left: 15%;
    padding-right: 0;
}

.about-content .about-image {
    width: 50%;
    height: 100%; /* Maintain aspect ratio */
    text-align: right;
    padding-right: 10%;
}

.about-content .about-image img {
    flex: 1; /* Take up available space */
    max-width: 55%; /* Ensure the image doesn't exceed half the container */
}

/* Services Section */
.music-section {
    background-color: #292929;
    color: floralwhite;
    padding: 60px 0;
    text-align: center;
}

.music-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.music-section p {
    font-size: 1.1em;
}

.soundcloud-embed-container {
    max-width: 50%;
    margin: 0 auto;
    width: 100%;
}

.soundcloud-embed-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* Services Section */
.contact-section {
    background-color: #f5f9fa;
    color: #202020;
    padding: 60px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.contact-section .social-links a {
    color: #202020;
    text-decoration: none;
    margin: 0 10px;
}

.contact-section .social-links-mail a {
    color: #202020;
    text-decoration: underline;
    margin: 0 10px;
}

.contact-section .social-links-mail a:hover {
    color: #47e3ff;
}

.contact-section .social-links a:hover {
    color: #47e3ff;
}

/* Footer */
footer {
    background-color: #f5f9fa;
    color: black;
    padding: 20px 0;
    text-align: center;
    height: 13vh;
}

footer .legal-info a {
    color: #202020;
    text-decoration: none;
    margin: 0 10px;
}

footer .legal-info a:hover {
    color: #47e3ff;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .header-left h1 {
        font-size: 1.5em;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .headercontainer {
        flex-direction: column;
        align-items: flex-start;
    }

    header .header-left {
        margin-bottom: 20px;
        transition: 0.3s;
    }

    header .header-left a h1 {
        font-size: 1.5em;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .headercontainer {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 2em;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .headercontainer {
        width: 100%;
    }

    header h1 {
        font-size: 1.5em;
    }

    .home-section h2 {
        font-size: 2em;
    }

    .home-section p {
        font-size: 1em;
    }
}